<div class="container mt-5">
  <div class="container">
    <div>
      <h1 class="text-center">Editing payment history</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body mx-auto">
            <%= render "form", payment_history: @payment_history %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="text-center">
    <%= link_to "Show this payment history", @payment_history, class: "btn btn-primary" %> |
    <%= link_to "Back to payment histories", payment_histories_path, class: "btn btn-secondary" %>
  </div>
</div>
