<h1>Editing payment history</h1>

<%= render "form", payment_history: @payment_history %>

<br>

<div>
  <%= link_to "Show this payment history", @payment_history %> |
  <%= link_to "Back to payment histories", payment_histories_path %>
</div>
