<div id="<%= dom_id subcategory %>">
  <p>
    <strong>Subcategory:</strong>
    <%= subcategory.subcategory_id %>
  </p>

  <p>
    <strong>Subcategory name:</strong>
    <%= subcategory.subcategory_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= subcategory.category_id %>
  </p>

</div>
