<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 50vh;">
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-body text-center">
          <h1>Editing subcategory</h1>

          <%= render "form", subcategory: @subcategory %>

          <div class="mt-3">
            <%= link_to "Show this subcategory", @subcategory, class: "btn btn-primary mr-2" %> |
            <%= link_to "Back to subcategories", subcategories_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
