<div class="container pt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card position-relative">
        <div class="card-header">
          <h3><%= t("heading.subcategory.new_subcategory") %></h3>
        </div>
        <div class="card-body">
            <%= render "form", subcategory: @subcategory %>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <%= link_to t("buttons.subcategory.back_subcategories"), subcategories_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
