<div>
  <div class="container">
    <h1 class="text-center mb-4">New User</h1>

    <!-- Form with Bootstrap styling -->
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="form-container">
              <%= render "form", user: @user %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>

    <div class="text-center">
      <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>




