<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card position-relative">
        <div class="card-header">
          <h1>New order item</h1>
        </div>
        <div class="card-body">
          <%= render "form", order_item: @order_item %>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <%= link_to "Back to order items", order_items_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
