<div class="container mt-5">
    <p style="color: green"><%= notice %></p>

    <h1>Producers</h1>

    <div id="producers">
      <% @producers.each do |producer| %>
        <%= render producer %>
        <p>
          <%= link_to "Show this producer", producer,  class: "btn btn-info"   %>
        </p>
      <% end %>
    </div>

    <%= link_to "New producer", new_producer_path, class: 'btn btn-primary mt-3' %>
</div>
