/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: rgb(255 255 255 / 70%);
  --bs-nav-link-hover-color: rgb(255 255 255);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

#togglePassword {
  border: 1px solid #d8d8dc;
}

#orderInfoBlock {
  display: none;
}

#productInfoBlock {
  display: none;
}

#newProductInfoBlock {
  display: none;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* меняйте 150px на нужную вам ширину чекбокса */
  gap: 10px; /* расстояние между чекбоксами */
}

.checkbox-item {
  display: flex;
  align-items: center;
}
