<div class="container pt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card position-relative">
        <div class="card-header">
          <h1><%= t("heading.category.new_category") %></h1>
        </div>
        <div class="card-body">
          <%= render "form", category: @category %>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <%= link_to t("buttons.category.back_categories"), categories_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
