<div class="mt-4 mb-5">
  <div class="container">
    <h1 class="text-center">New product</h1>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body mx-auto">
              <%= render "form", product: @product %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center">
      <%= link_to t("buttons.product.back_to_products"), products_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
