<!--<header class="p-3 text-bg-dark">-->
<!--  <div class="container">-->
<!--    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">-->
<!--      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-4">-->
<!--        FOS-->
<!--      </a>-->

<!--      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">-->
<!--        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>-->
<!--        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>-->
<!--        <li><a href="#" class="nav-link px-2 text-white">Catalog</a></li>-->
<!--        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
<!--        <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->

<!--      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
<!--        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
<!--      </form>-->
<!--      <div class="text-end">-->
        <%# if user_signed_in?%>
          <%#= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light me-2" %>
        <%# else %>
<!--          <a href="/users/sign_in" class="btn btn-outline-light me-2">Login</a>-->
<!--          <a href="/users/sign_up" class="btn btn-warning">Sign-up</a>-->
        <%# end %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->

<nav class="navbar navbar-dark bg-dark py-3" aria-label="Dark offcanvas navbar">
  <div class="container-fluid me-4 ms-4">
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" href="/">FOS</a>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link me-4" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">About</a>
        </li>
      </ul>
    </div>

    <% if user_signed_in? %>
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(255, 255, 255, 70%)" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
      </button>

      <!-- Боковая панель-->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
<!--          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"><%#= current_user.last_name %> <%#= current_user.first_name %></h5>-->
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"><%= current_user.username %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- Контент боковой панели -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-2">
            <li class="nav-item">
              <%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item mt-4">
              <%= button_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-outline-light me-2" %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="d-flex">
        <a href="/users/sign_in" class="btn btn-outline-light me-2">Login</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign-up</a>
      </div>
    <% end %>
  </div>
</nav>
