<nav class="navbar navbar-dark bg-dark py-3" aria-label="Dark offcanvas navbar">
  <div class="container-fluid me-4 ms-4">
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" href="/">FOS</a>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link me-4" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#">About</a>
        </li>
      </ul>
    </div>

    <% if user_signed_in? %>
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(255, 255, 255, 70%)" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
      </button>

      <%= render 'layouts/user_sidebar' %>

    <% elsif producer_signed_in? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(255, 255, 255, 70%)" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
      </button>

      <%= render 'layouts/producer_sidebar' %>

    <% else %>
      <div class="d-flex">
        <a href="/users/sign_in" class="btn btn-outline-light me-2">Login</a>
        <a href="/users/sign_up" class="btn btn-warning">Sign-up</a>
      </div>
    <% end %>
  </div>
</nav>
